body {
    margin: 0;
    padding: 0;
    background: #248;
}
.contenedor-header {
    padding: 1%;
    background: #444;
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
    color: #fff;
    text-align: center;
}
.contenedor-body {
    background: #ccc;
}

label {
    color: #444;
}

.btn-cotizar {
    background: #7c3;
    color: #fff;
    width: 100%;
}
.formulario {
    background: #ccc;
    border: 1px solid #ddd;
    padding: 2%;
    width: 25%;
}

select {
    width: 100%
}

.resumen {
    color:#fff;
    text-align: center;
    background: #248;
}

.tabla-resumen{
    width: 20%;
    background: #222;
    border: 1px solid #ddd;
    padding: 2%;
    color: #fff;
}

.resultado {
    background: #579;
    text-align: center;
    margin-top: 1%;
    font-weight: bold;
}